body {
    display: flex;
    flex-direction: column;
    margin: 0;
    
}

figure {
    all: none;
}

.sec1, .sec2, .sec3, .sec4 {
    min-height: 300px;
}

.bg-blue {
    background-color: #3882F6;
}

.bg-blk {
    background-color: #1F2937;
}

.txt-blk {
    color: #1F2937;
}

.txt-wht1 {
    color: #F9FAF8;
}

.txt-wht2 {
    color: #e5e7eb;
    font-size: 14px;
}

/*-----------Header*/

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 200px;
    
}

.header-links {
    list-style-type: none;
    padding: 0;
    margin: 0%;
    display: flex;
    justify-content: flex-end;
    
}

.header-logo {
    width: 150px;
}

a {
    text-decoration: none;
    padding-left: 20px;
}

/*-----------Section 1*/


.sec1 {
    display: flex;
    flex-direction: column;
 
}

.sec1-main {
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
    margin: 75px 0;
}

.sec1-left {
    min-width: 300px;
}

#main-img {
    height: 350px;
    margin-left: 25px;
   
}

.text1, .text2 {
    padding: 0 0 25px;
    margin: 0;
}

.text1 {
    font-size: 48px;
    font-weight: 900;

} 


button {
    border: none;
    width: 100px;
    border-radius: 5px;
    padding: 8px;
}


/*-----------Section 2*/

.sec2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px;;
}

.sec2-text {
    font-size: 36px;
    font-weight: 900;
}

.fig-container {
    display: flex;
    justify-content: center;
    
}

.image {
    border: 2px solid #3882F6;
    width: 200px;
}


/*-----------Section 3*/

.sec3 {
    background-color: #e5e7eb;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 0 250px;

}

.text3 {
    display: flex;
    font-size: 36px;
    font-style: italic;
}

.text4 {
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    padding-right: 100px;
}

/*-----------Section 4*/

.sec4 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.sec4-text {
    display: flex;
    width: 60%;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
    gap: 50px;
    
}

.button2 {
    border: 2px solid #F9FAF8;
    height: 10%;  
}

/*-----------Footer*/

.footer p {
    text-align: center;
    padding: 10px 0;
}
